/minesweeper/.env.local
/minesweeper/.env.local.php
/minesweeper/.env.*.local
/minesweeper/config/secrets/prod/prod.decrypt.private.php
/minesweeper/public/bundles/
/minesweeper/var/
/minesweeper/vendor/
/minesweeper/.idea/
/.idea/
/vendor/